/* -------------common shared style---------- */

/* -------------nav style---------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav > ul {
    display: flex;

}
nav li {
    list-style: none;
    margin-right: 20px;
    transition: .3s;
    padding-right: 25px;
    border-right: 2px solid black;
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 20px;
    transition: .3s;

}
nav a:hover{
    color: #fd6e0a;
}
.text-primary{
    color: #fd6e0a;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

/* ----------banner css--------- */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-content{
    max-width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    color: #474747;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;

}
.banner-description{
    margin-bottom: 30px;
}

.btn-primary{
    color: #ffffff;
    background-color: #fd6e0a;
    border: 0;
    font-weight: 500;
    padding: 10px 40px;
    border-radius: 5px;
}
.header{
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #fff8f3;
}